@model Models.CspModel

@{
    Layout = "_Layout";
}

<div>
    <ul class="list-group list-group-flush">
        @foreach (var policy in Model.Policies)
        {
            <li class="list-group-item">@policy</li>
        }
    </ul>
    @RenderBody()
</div>
<img src="http://sau.no/sau.jpg" alt="This is a picture of a sheep, loaded over http. Img-credits: sau.no" />

<div class="blue-box" id="should-be-red">
    It is really important to change the background color of this element to red with an inline script.
</div>

<form method="POST">
    <input type="submit" title="Refresh page" value="Refresh page" />
</form>

<form action="https://bnfoieoernoriefewfwefwef.cew/vye78wohvlweiuve" method="POST">
    <input type="submit" title="Post to some unidentified page" value="Post to some unidentified page" />
</form>

@if (IsSectionDefined("ScriptSection"))
{
    @RenderSection("ScriptSection", false)
}
else
{
    <script>alert("I just stole your credit card info!");</script>

    <script src="/js/change-color.js"></script>
}

@section Explanation
{
    @RenderSection("Explanation", false)
}

@section NextButton
{
    @if (!string.IsNullOrEmpty(Model.NextUrl))
    {
    <div class="btn">
        <a class="btn btn-primary" href="@Model.NextUrl">@Model.NextName</a>
    </div>
    }
}
